- require 'active_support/core_ext/numeric/conversions'
%h2 固定費科目のデータ登録
%p 登録年月を設定してください
= form_tag({controller: :fixedcost_values, action: :new}, {method: :post}) do
  %input{:name => "year_month", :type => "month"}/
  %input{:type => "submit"}/
%h2 固定費科目 データ一覧
- if @fixedcost_values.present?
  %table
    %tr
      %th 登録年月
      %th 名称
      %th 金額
      %th 補足
      %th 操作
    - @fixedcost_values.each do |fixedcost_value|
      %tr
        %td= fixedcost_value.year_month.strftime('%Y年%m月')
        %td= @fixedcosts.find(fixedcost_value.fixedcost_id).name
        %td
          = fixedcost_value.value.to_s(:delimited)
          円
        %td= fixedcost_value.supplement
        %td
          = link_to "編集", [:edit, fixedcost_value]
          |
          \#{link_to "削除", fixedcost_value, method: :delete, data: { confirm: "本当に削除しますか？"}}
- else
  %p 登録されているデータがありません。