.wrapper
  = render "post/header"
  - breadcrumb :income_index
  = breadcrumbs pretext: "",separator: "&rsaquo;"

- @page_title = "収入科目一覧"
#{current_user.name}さんのページ
%h2
  = @page_title
=link_to new_income_path do
  収入科目登録
- if @incomes.present?
  %table
    %thead
      %tr
        %th 収入科目名
        %th 補足
        %th 操作
    %tbody
      - @incomes.each do |income|
        - if user_signed_in? && current_user.id == income.user_id 
          %tr
            %td
              = income.name
            %td
              = income.supplement
            %td
              = link_to "編集", [:edit, income]
              = link_to "削除", income, method: :delete, data: { confirm: "削除しますか?"}
- else
  %p 
    登録されている収入科目がありません。