.wrapper
  = render "shared/header"
  - breadcrumb :variablecost_value_new
  = breadcrumbs pretext: "",separator: "&rsaquo;"

- @page_title = "変動費科目 データ登録"
#{current_user.name}さんのページ
%h2= @page_title
.toolbar= link_to "変動費科目データ一覧に戻る", :variablecost_values
= form_for(@form, url: variablecost_values_path, method: :post) do |fb|
  / 年月テーブル
  %table
    %tr
      %th 登録年月
      %th 名称
      %th 金額
      %th 補足
    - cnt=0
    = fb.fields_for :variablecost_values do |f|
      = f.hidden_field :variablecost_id
      %tr
        %td
          = f.date_select :year_month,                                       |
            start_year: 2010, end_year: Time.current.year,                   |
            use_month_numbers: true, discard_day: true, default: @year_month |
        %th
          = @variablecosts.find(@form.variablecost_values[cnt].variablecost_id).name
        - cnt+=1
        %td= f.text_field :value, size: 8
        %td= f.text_field :supplement, size: 8
  %div= fb.submit