- @page_title = "固定費科目一覧"
%h2
  = @page_title
=link_to new_fixedcost_path do
  固定費科目登録
- if @fixedcosts.present?
  %table
    %thead
      %tr
        %th 固定費科目名
        %th 補足
        %th 操作
    %tbody
      - @fixedcosts.each do |fixedcost|
        %tr
          %td
            = fixedcost.name
          %td
            = fixedcost.supplement
          %td
            = link_to "編集", [:edit, fixedcost]
            = link_to "削除", fixedcost, method: :delete, data: { confirm: "削除しますか?"}
- else
  %p 
    登録されている固定費科目がありません。